.productContainer {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: #f2f2fd;
}

.productHeader {
    display: flex;
    justify-content: flex-end;
}

.exitIcon {
    height: 2rem;
}

.productContent {
    display: flex;
    flex-direction: column-reverse;
    margin: auto;
    flex-grow: 1;
}

.productDetails {
    display: flex;
    flex-direction: column;
}

.imageContainer {
    display: block;
    position: relative;
    margin: auto;

}

.productCategory {
    text-transform: uppercase;
    color:#b6ada3;
    letter-spacing: 2px;
    font-size: 15px;
}

.productTitle {
    font-size: 25px;
    color: #3a6e7e;
    font-weight: 600;
    margin-top: 0;
}

.productDescription {
    line-height: 110%;
    letter-spacing: 2px;
    font-weight: 200;
    font-size: 20px;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.productPrice {
    display: flex;
    letter-spacing: 2px;
    padding-top: 2em;
    font-size: 20px;
    font-weight: 600;
}

.addButton {
    padding: 15px 10px;
    background-color: white;
    border: 1px #272720 solid;
    letter-spacing: 2px;
    font-size: 15px;
}

@media (min-width: 768px) { 

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(237,237,247,255);
        padding: 3rem;
    }

    .productContainer {
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    }

    .productCategory {
        font-size: 16px;
    }

    .productTitle {
        font-size: 21px;
    }

    .productDescription {
        font-size: 18px;
    }

    .productPrice {
        font-size: 16px;
    }

    .exitIcon {
        height: 1.6rem;
    }

}

@media (min-width: 1024px) { 

    .container {
        width: 100%;
    }

    .productContainer {
        margin: 1rem;
    }
}

@media (min-width: 1280px) {  

    .header {
       height: 10%;
    }

    .productContainer {
        max-width: 100em;
        width: 60%;
        height: 40em;
        margin: auto;
    }

    .productContent {
        height: 60%;
        flex-direction: row;
        flex-grow: 1;
    }

    .productDetails {
        width: 50%;
        font-size: 14px;
    }

    .productDescription {
        font-size: 18px;
    }

    .imageContainer {
        width: 50%;
        display: flex;
        justify-content: center;
    }

    .footer {
        flex-grow: 1;
        margin-top: 0;
    }

    .productPrice {
        padding-top: 1rem;
    }

    .addButton {
        padding: 0.7em;
    }
 
    .productTitle {
        font-size: 20px;
    }
}

@media (min-width: 1536px) {  

    .productContainer {
        max-width: 70%;
    }

    .productContent {
        padding: 1rem 2rem;
    }

    .footer {
        padding: 0 2rem;
    }

    .imageContainer {
        display:flex;
        justify-content: center;
    }

}