.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1em;
    padding: 1em;
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background-color: white;
}

.imageContainer {
    height: 85%;
    display: block;
    position: relative;
    margin: 1rem auto;

}

.productTitle {
    font-size: 17px;
    font-weight: 500;
    color: #3a6e7e;
    text-overflow: ellipsis;
    margin-bottom: 1px;
}

.productCategory {
    font-style: italic;
    font-weight: 200;
    font-size: 1rem;
    line-height: 0;
    margin-bottom: 5px;
}

.productPrice {
    font-size: 16px;
}
