.container { 
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.noProductContainer {
    grid-column: 1 / -1;
    background-color: white;
    padding: 1rem 4rem;
    align-self: stretch;
}

.noProductText {
    font-style: italic;
}

@media (min-width: 768px) { 

    .container {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 0 2rem;
        padding: 2rem;
    }

    .noProductContainer {
        margin-top: 5rem;
    }

}

@media (min-width: 1024px) {  
  
    .container {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .noProductContainer {
        margin: 0;
    }

}

@media (min-width: 1280px) {  

    .container {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .noProductContainer {
        margin: 10rem;
    }
}

@media (min-width: 1536px) { 

    .container {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    } 

}

@media (min-width: 1536px) { 

    .container {
      max-width: 80%;
    }

 }
    



