.container {
    position: absolute;
    top: 7.5rem;
    display: flex;
    justify-content: center;
    width: 90%;
}

.input {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 0.8rem 3rem;
    border-radius: 40px;
    background: rgba(237,237,247,255);

}

.exitIcon {
    position: absolute;
    top: 14px;
    right: 14px;
    width: 25px;
    height: 25px;
}

.searchIcon {
    position: absolute;
    top: 7px;
    right: 10px;
    width: 40px;
    height: 40px;
}

@media (min-width: 768px) { 

    .input {
        width: 60%;
    }

    .exitIcon {
        right: 22%;
    }
    
    .searchIcon {
        right: 22%;
    }

}

@media (min-width: 1024px) {  

    .input {
        width: 40%;
    }

    .exitIcon {
        right: 32%;
    }
    
    .searchIcon {
        right: 31%;
    }

}

@media (min-width: 1280px) {  

    .container {
        top: 2rem;
        right: 2rem;
        flex-grow: 1;
        justify-content: flex-end;
        padding: 0;
    }

    .input {
        display: inline-block;
        text-align: end;
        font-size: 17px;
        padding: 1rem 4rem;
        border-radius: 40px;
        width: 21.5rem;
    }
    
    .exitIcon {
        top: 16px;
        right: 13px;
    }
    
    .searchIcon {
        top: 9px;
        right: 10px;
    }

}

